table {
  border-collapse: collapse;
  /* width: 100%; */
  /* margin: auto; */
  margin: 20px auto;
}
th {
  font-weight: 900;
}
th,
td {
  text-align: left;
  padding: 8px 16px;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.add-icon {
  font-size: 28px;
  margin-left: 20px;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: green;
  border: 1px solid green;
  border-radius: 50%;
}

hr {
  border-width: 10px !important;
}
